<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Backend</title>
</head>
<body>

<form method="post">
    {{ form.proid.label }}{{ form.proid }}<br>
    {{ form.proname.label }}{{ form.proname }}<br>
    {{ form.profood_type.label }}{{ form.profood_type }}<br>
    {{ form.proprice.label }}{{ form.proprice }}<br>
    {{ form.prostock.label }}{{ form.prostock }}<br>
    {{ form.submit }}


</form>

<hr>
<ul>
  {% for product in products %}
       <li>{{ product.name }}</li>
    {% endfor %}
</ul>

</body>
</html>