{% macro create_product_card(product) %}
    <div class="col-lg-4 col-md-6 col-sm-12  d-flex mt-3">
        <div class="card bg-light flex-fill">
            <img class="card-img-top"
                 src='https://via.placeholder.com/800'>
            <div class="card-body">
                <h3 class="card-title">{{ product.name }}</h3>
                <p class="card-text">
                <dl class="row">
                    <dt class="col-sm-5" id="descr_produit">Ingrédients:</dt>
                    <dd class="col-sm-7">
                        <ul>
                            {% for ingr in product.ingredients %}
                                <li>{{ ingr.name }}</li>
                            {% endfor %}
                        </ul>
                    </dd>
                </dl>

                </p>
                <form class="form-group" id = "{{ product.id }}" method="post">
                    <div class="d-flex row form-group">
                        <div class="col align-self-start flex-column"><select class="form-control custom-select float-left"
                                                                  name="quantity" required>
                            {#                            <option value="">Qté</option>#}
                            {% for i in range(product.stock) %}
                                <option value={{ i+1 }}>{{ i + 1 }}</option>
                            {% endfor %}
                        </select></div>
                        <div class="col align-self-auto flex-column">
                            <p class="text-center">{{ product.price }}€</p>
                        </div>
                        <div class="col align-self-end flex-column">
                            <button name = "product_id" value ="{{ product.id }}" type="submit" class="btn btn-outline-success float-right ">Ajouter au panier
                            </button>
                        </div>

                    </div>
                </form>


            </div>
        </div>
    </div>

{% endmacro %}

{% macro create_product_row(products) %}

        {{ create_product_card(products.pop()) }}
        {{ create_product_card(products.pop()) }}
        {{ create_product_card(products.pop()) }}

{% endmacro %}
{% macro create_content_block(products) %}
    <div class="d-flex row">
    {% for _ in products %}
        {% if products|length >=3 %}
            {{ create_product_row(products) }}
        {% endif %}
    {% endfor %}

        {% for product in products %}
            {{ create_product_card(product) }}
        {% endfor %}

    </div>
{% endmacro %}

{% macro create_menu_card(sandwich) %}
    <div class="col-lg-4 col-md-6 col-sm-12  d-flex mt-3">
    
    </div>

{% endmacro %}