{% macro create_product_card(product) %}
    <div class="col-lg-4 col-md-6 col-sm-12  d-flex mt-3">
        <div class="card bg-light flex-fill">
            <img class="card-img-top"
                 src='https://via.placeholder.com/800'>
            <div class="card-body">
                <h3 class="card-title">{{ product.name }}</h3>
                <p class="card-text">
                <dl class="row">
                    <dt class="col-sm-5" id="descr_produit">Ingrédients:</dt>
                    <dd class="col-sm-7">
                        <ul>
                            {% for ingr in product.ingredients %}
                                <li>{{ ingr.name }}</li>
                            {% endfor %}
                        </ul>
                    </dd>
                </dl>

                </p>
                <form class="form-group" id="{{ product.id }}" method="post">
                    <div class="d-flex row justify-content-around">
                        <div class="col-4 align-self-start flex-column"><select
                                class="form-control custom-select float-left"
                                name="quantity" required>
                            <option disabled selected value>Qté</option>
                            {% for i in range(product.stock) %}
                                <option value={{ i+1 }}>{{ i + 1 }}</option>
                            {% endfor %}
                        </select></div>
                        <div class="col align-self-auto flex-column">
                            <p class="text-center">{{ product.price }}€</p>
                        </div>
                        <div class="col-5 align-self-end flex-column">
                            <button name="product_id" value="{{ product.id }}" type="submit"
                                    class="btn btn-success float-right ">Ajouter au panier
                            </button>
                        </div>

                    </div>
                </form>


            </div>
        </div>
    </div>

{% endmacro %}

{% macro create_product_row(products) %}

    {{ create_product_card(products.pop()) }}
    {{ create_product_card(products.pop()) }}
    {{ create_product_card(products.pop()) }}

{% endmacro %}
{% macro create_content_block(products) %}
    <div class="d-flex row">
        {% for _ in products %}
            {% if products|length >=3 %}
                {{ create_product_row(products) }}
            {% endif %}
        {% endfor %}

        {% for product in products %}
            {{ create_product_card(product) }}
        {% endfor %}

    </div>
{% endmacro %}

{% macro create_menu_card(menu,sandwich_dict, drinks, des) %}
    <div class="col-lg-4 col-md-6 col-sm-12  d-flex mt-3" id="card-menu-{{ menu.sandwich_principal }}">
        <div class="card bg-light flex-fill">
            <img class="card-img-top"
                 src='https://via.placeholder.com/800'>
            <div class="card-body">
                <h3 class="card-title">Menu {{ sandwich_dict[menu.sandwich_principal] }}</h3>
            </div>
            <div class="card-footer">
                <div class="row justify-content-around">
                    <span class="h4 align-middle">{{ menu.prix }}€</span>
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-sandwich">
                        Commander
                    </button>

                </div>


            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="modal-sandwich">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-dark">
                    <h5 class="modal-title text-white">Menu {{ sandwich_dict[menu.sandwich_principal] }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5>Votre menu :</h5>
                    <form method="post" id="menu-id">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="select-drinks">Boisson</label>
                            </div>
                            <select class="custom-select" id="select-drinks" name="drink" required>
                                <option disabled selected value>Choix de boisson ...</option>
                                {% for dr in drinks %}
                                    <option value="{{ dr.id }}">{{ dr.name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="select-drinks">Dessert</label>
                            </div>
                            <select class="custom-select" id="select-dessert" name="dessert" required>
                                <option disabled selected value>Choix de dessert ...</option>
                                {% for d in des %}
                                    <option value="{{ d.id }}">{{ d.name }}</option>
                                {% endfor %}
                            </select>

                        </div>

                    </form>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" form="menu-id" data-toggle="modal"
                            data-target="#confirmation" name="sandwich"
                            value={{ menu.sandwich_principal }}>Commander
                    </button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                </div>
            </div>
        </div>
    </div>

{% endmacro %}

{% macro create_menu_view(menus_list, sandwich_dict, drinks, des) %}
    {% for menu in menus_list %}
        {{ create_menu_card(menu,sandwich_dict, drinks,des) }}
    {% endfor %}
{% endmacro %}

{% macro create_cart_view() %}
    <div class="list-group-horizontal">

        <div class="d-flex w-100 justify-content-around list-group-item">
            <img src='https://via.placeholder.com/50' class="img-thumbnail rounded">
            <div class="col text-left mx-3"><h5 class="mb-1">NOM_DU_PRODUIT</h5>
            <p class="mt-2">quantité : 1</p></div>

            <h5>3,00eu</h5>
        </div>
    </div>
    <div class="list-group-horizontal">

        <div class="d-flex w-100 justify-content-around list-group-item">
            <img src='https://via.placeholder.com/50' class="img-thumbnail rounded">
            <div class="col text-left mx-3"><h5 class="mb-1">NOM_DU_PRODUIT</h5>
            <p class="mt-2">description du produit</p></div>

            <h5>3,00eu</h5>
        </div>
    </div>
    <div class="list-group-horizontal">

        <div class="d-flex w-100 justify-content-around list-group-item">
            <img id = "cart_image" src='https://via.placeholder.com/800' class="img-thumbnail rounded">
            <div class="col text-left mx-3"><h5 class="mb-1">NOM_DU_PRODUIT</h5>
            <p class="mt-2">description du produit</p></div>

            <h5>3,00eu</h5>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-end rounded mt-2">
            <h5 class="mx-2">Total commande:</h5> <h5 class="text-danger mx-4">9,00eu</h5>
        </div>
    </div>
{% endmacro %}