{%  extends "base.html.jinja2" %}
{% set active_page = 'home' %}

{% block content %}
<div class = "col-lg-6 col-12">
<h3>Bienvenue chez MySandwich</h3>
<p>Pour continuer choisir un menu</p>

</div>
{% endblock %}