<!-- Template for the sandwich reservation view-->
{% extends "base.html.jinja2" %}
{% set active_page = "menus" %}

{% block content %}
    <div class="container">
        <div class="row d-flex">

            {{ create_menu_view(menus_list,sandwich_dict, drinks,des) }}


        </div>
    </div>

{% endblock %}
